Flask==3.0.2
Werkzeug==3.0.1

numpy>=1.26,<3
opencv-python>=4.8

mediapipe

# Face recognition with deep learning
face_recognition
dlib

# если где-то используешь эти штуки (у тебя есть в проекте comparator)
scikit-image
scipy
imagehash
Pillow
